assemblyai>=0.63.0
cartesia>=3.0.2
langchain>=1.2.17
langchain_classic>=1.0.4
langchain_community>=0.4.1
langchain_core>=1.3.2
langchain_openai>=1.2.1
langchain_text_splitters>=1.1.2
openai>=2.33.0
python-dotenv>=1.2.2
sounddevice>=0.5.5
whisper>=1.1.10
streamlit>=1.53.1
unstructured>=0.18.32
openai-whisper>=20250625